.circle {
 	height: 100px;
 	width: 100px;
 	border-radius: 50%;
    text-align: center;
    padding-top: 22px;
	
 }
    
 footer{
    color: #6c757d;
    text-align: center;
    padding: 10px;
    width: 100%;
    }

